.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.comment-list {
  list-style-type: none;
}
.reviews-cards {
  list-style-type: none;
  margin-left: 100px;
  padding: auto;
}

.brand {
  font-size: 36px;
}

p.card-text {
  text-align: left;
  border-top: black;
}

.done {
  display: none;
}

.comment-box {
  margin: auto;
  width: 40rem;
  height: 3em;
  margin-bottom: 100px;
}
